In [48]:
import sys
sys.path.append("..")
import utils
import utils.config
import pandas as pd
import sqlite3
import numpy as np

from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score, mean_squared_error

In [49]:
conn = sqlite3.connect('../db.sqlite3')

indicators = utils.config.INDICATORS

sql_string = f""" SELECT
                t2.Country,
                t1.Year,
                t3.IndicatorName,
                t1.Value                
                FROM CountryIndicators t1
                LEFT JOIN
                (SELECT ShortName as Country, CountryCode from Countries) t2
                ON t1.CountryCode = t2.CountryCode
                LEFT JOIN
                (SELECT IndicatorCode, IndicatorName from Indicators)t3
                ON t1.IndicatorCode = t3.IndicatorCode
                WHERE t3.IndicatorName in ('{"','".join(indicators)}');"""

raw_df = pd.read_sql(sql_string,conn)

In [50]:
del indicators[0]
target = utils.config.TARGET

In [3]:
print(raw_df.shape)
print(raw_df.head())
raw_df.loc[raw_df["Country"] == "Afghanistan"]

(445865, 4)
                  Country  Year                              IndicatorName  \
0              Arab World  1960               Merchandise trade (% of GDP)
1              Arab World  1960  Population ages 65 and above (% of total)
2              Arab World  1960         Population ages 15-64 (% of total)
3  Caribbean small states  1960                          GDP (current US$)
4  Caribbean small states  1960               GDP per capita (current US$)

          Value
0  4.724212e+01
1  3.535465e+00
2  5.328846e+01
3  1.917148e+09
4  4.574647e+02

,Country,Year,IndicatorName,Value
364,Afghanistan,1960,Exports of goods and services (% of GDP),4.132233e+00
365,Afghanistan,1960,External balance on goods and services (% of GDP),-2.892560e+00
366,Afghanistan,1960,"Final consumption expenditure, etc. (% of GDP)",8.677685e+01
367,Afghanistan,1960,GDP (current LCU),2.420000e+10
368,Afghanistan,1960,GDP (current US$),5.377778e+08
...,...,...,...,...
432477,Afghanistan,2010,"Services, etc., value added (% of GDP)",5.104612e+01
432478,Afghanistan,2010,Tax revenue (% of GDP),9.123651e+00
432479,Afghanistan,2010,Total natural resources rents (% of GDP),2.378269e+00
432480,Afghanistan,2010,Trade (% of GDP),5.496733e+01
432481,Afghanistan,2010,Trade in services (% of GDP),2.760653e+01

In [46]:
df = raw_df.groupby(["Country","Year","IndicatorName"]).sum().squeeze().unstack()
df = df.reset_index(level=["Country","Year"])
print(df.shape)

# Rows where our target is not missing
df = df[df[target].notna()]

# columns with not many missing values
print(df.shape)
df = df.dropna(axis='columns',thresh=8000)
print(df.shape)
df3 = df.dropna()
print(df3.shape)
print(df3.columns)
df.dtypes

(12024, 90)
(9057, 90)
(9057, 18)
(7384, 18)
Index(['Country', 'Year', 'CO2 emissions (kg per 2005 US$ of GDP)',
       'Exports of goods and services (% of GDP)',
       'External balance on goods and services (% of GDP)',
       'GDP (constant 2005 US$)', 'GDP (current US$)', 'GDP growth (annual %)',
       'GDP per capita (constant 2005 US$)', 'GDP per capita (current US$)',
       'GDP per capita growth (annual %)',
       'General government final consumption expenditure (% of GDP)',
       'Imports of goods and services (% of GDP)',
       'Inflation, GDP deflator (annual %)', 'Merchandise trade (% of GDP)',
       'Population ages 15-64 (% of total)',
       'Population ages 65 and above (% of total)', 'Trade (% of GDP)'],
      dtype='object', name='IndicatorName')

IndicatorName
Country                                                         object
Year                                                             int64
CO2 emissions (kg per 2005 US$ of GDP)                         float64
Exports of goods and services (% of GDP)                       float64
External balance on goods and services (% of GDP)              float64
GDP (constant 2005 US$)                                        float64
GDP (current US$)                                              float64
GDP growth (annual %)                                          float64
GDP per capita (constant 2005 US$)                             float64
GDP per capita (current US$)                                   float64
GDP per capita growth (annual %)                               float64
General government final consumption expenditure (% of GDP)    float64
Imports of goods and services (% of GDP)                       float64
Inflation, GDP deflator (annual %)                             float64
Merchandise trade (% of GDP)                                   float64
Population ages 15-64 (% of total)                             float64
Population ages 65 and above (% of total)                      float64
Trade (% of GDP)                                               float64
dtype: object

In [47]:
empty = pd.DataFrame()
empty["Year"] = df["Year"]
empty

       Year
43     2003
44     2004
45     2005
46     2006
47     2007
...     ...
12019  2006
12020  2007
12021  2008
12022  2009
12023  2010

[9057 rows x 1 columns]